body {
    background-color: #161032;
}

nav {
    background-color: #9D44B5;
    overflow: auto;
}

nav > img {
    float: left;
}

nav > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: inline;
}

li {
    float: left;
}

li > a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav > button {
    float: right;
    transform: translate(-10%, 20%);
}

.playing_carousel {
    width: 75%;
    margin: auto;
    /*
    display: grid;
    grid-template-rows: 100px 1fr;
    */
}

.soon_carousel {
    width: 75%;
    margin: auto;
}

.header_font {
    font-family: "Merriweather", serif;
    font-weight: 700;
    font-style: normal;
    color: white;
}